*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.app{
    width:396px;
    background-color: rgb(216, 208, 208);
    margin:auto;
    margin-top: 100px;
}

.formLogin{
    display:flex;
    flex-direction: column; 
}
.tagMessage{
    margin: auto;
    font-size: 18px;
    padding:24px 0px 16px;
}
.bodyLogin{
    margin:auto;
}
.textMessage_Child{
    padding:14px 16px;
    font-size: 15px;
    width:364px;
}
.passwordMessage_Child{
    padding:14px 16px;
    font-size: 15px;
    width:364px;
}
.passwordMessage{
    margin-top:10px;
}
.buttonLogin_Message{
    padding:10px 15px;
    width:364px;
    background-color: #1877F2;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    color:white;
    display: block;
    text-decoration: none;
    text-align: center;
}
.buttonLogin_Message:hover{
    cursor: pointer;
}
.buttonLogin{
    margin-top:20px;
}
.bottomForm{
   width:364px;
   margin: 16px 0px;
    display:flex;
}
.bottomFormLink{
    text-decoration: none;
    color:#1877F2;
    font-size: 14px;
    font-weight: 500;
    display:block;
    margin: auto;
   
}
.bottomFormLink:hover{
    text-decoration: underline;
}
#warning-login{
    color:red;
    margin-top: 5px;
    width:364px;
}
#warning-password{
    color:red;
    margin-top: 5px;
    width:364px;
}